<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="css/main.css" rel="styleSheet" />

    <title>Document</title>
</head>

<body>
    <header class="menu menu-tr">
        <div class="logo">
            <a href="#">Innovation Architecture</a>
        </div>
        <div class="navbar">

            <a href="/template/index.html" class="active">Home</a>
            <a href="/template/projects.html">Projects</a>
            <a href="#">Project Details</a>
            <a href="/template/contactUs.html">Contact</a>
            <a href="#">about us</a>

        </div>

    </header>
    <div class="container">
        <div class="wrapper full-screen">
            <div class="overlap" style="height:100vh"></div>
            <div class="content">
                <h1>Some title</h1>
                <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis et ullam
                    exercitationem vel deleniti consequatur accusamus iusto enim beatae blanditiis quidem in eius
                    aperiam pariatur minus, adipisci dolores. Enim, iste.</p>
                <a href="#" class="btn-home btn-anime">More about us</a>
            </div>
        </div>


    </div>





</body>

</html>